body::-webkit-scrollbar {
    width: 12px;               
}
  
body::-webkit-scrollbar-track {
    background: #81d686;        
}
  
body::-webkit-scrollbar-thumb {
    background-color: #cdf5d0;    
    border-radius: 20px;       
    border: 3px solid #81d686;  
}

body {
    font-family: sans-serif;
    margin: 0;
}

html, .fullscreen {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff;
    color: #222121;
}


.logo img {
    width: 40px;
    margin-right: 20px;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    color: #222121;
    text-decoration: none;
    font-size: 18px;
}

.pesquisa {
    display: flex;
    align-items: center;
    margin-left: auto;
    overflow: hidden;
    border-radius: 5px;
}

.pesquisa input {
    padding: 10px 15px; 
    font-size: 16px; 
    border: 1px solid #6d6d6d; 
    border-radius: 5px 0 0 5px; 
    outline: none; 
}

.button-form{
    padding: 10px 15px; 
    background-color: #1d1d1d; 
    border: none; 
    border-radius: 0 5px 5px 0; 
    cursor: pointer;
    color:#fff;
}

.img-form{
    width: 16px;
    height: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}

.h1{
    color: #2E7D32;
    font-size: 40px;
}

.title {
    font-family: sans-serif;
    color: #1d1d1d;
    font-size: 40px;
    margin: 10px 0;
}

.card {
    text-align: left;
    background-color: #cdf5d0;
    border: 5px solid #9bd69f;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: row; 
    width: 100%;
    max-width: 1200px; 
    height: 700px; 
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.card::-webkit-scrollbar {
    width: 12px;               
}
  
.card::-webkit-scrollbar-track {
    background: #9bd69f;        
}
  
.card::-webkit-scrollbar-thumb {
    background-color: #cdf5d0;    
    border-radius: 20px;       
    border: 3px solid #9bd69f;  
}

.img,
.text {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    flex: 1; 
    gap: 15px; 
}

.card img {
    width: 100%;
    max-width: 356px;
    max-height: 442px; 
    height: auto;
    margin: 200px auto 20px;
    border-radius: 10px;
}

.tempoP p {
    margin: 5px 0; 
    font-size: 16px; 
    line-height: 1.4;
    color: #3e3e3e; 
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    gap: 15px;
    max-height: 100%; 
    padding: 0 15px;
}

.card_h1{
    color: #2E7D32;
}

.card_h4 {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
    color: #6da571;
}

.lista{
    color: #3e3e3e;
}

.card_p {
    font-size: 16px;
    margin: 5px 0;
    line-height: 1.5;
}

.card ul {
    padding-left: 20px;
}

.card ul li {
    font-size: 16px;
    margin-bottom: 8px;
}


@media only screen and (max-width: 780px) {
    .card {
        grid-template-columns: 1fr;
    }

    .text {
        padding-top: 10px;
    }

    .title {
        font-size: 32px;
    }

    .card_h4 {
        font-size: 20px;
    }

    .card_p {
        font-size: 14px;
    }

    .card img {
        max-width: 200px;
    }
}


footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-top: 1px solid #1c1c1c;
    height: 60px;
}

footer div {
    flex: 1;
}

footer div p {
    margin: 0;
    font-size: 16px;
    color: #222121;
}

.e {
    display: flex;
    height: 40px;
}

.d {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

