body {
    font-family: sans-serif;
    margin: 0;
}

html, .fullscreen {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff;
    color: #222121;
}


.logo img {
    width: 40px;
    margin-right: 20px;
}

.links {
    display: flex;

}

.links a {
    color: #222121;
    text-decoration: none;
    font-size: 18px;
}

.pesquisa {
    display: flex;
    align-items: center;
    margin-left: auto;
    overflow: hidden;
    border-radius: 5px;
    gap: 20px;
}

.pesquisa a {
    color: #222121;
    text-decoration: none;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 100vw; 
    background-color: #fad889;
    justify-content: center;
    align-items: center;
    text-align: center;
}
 
.title {
    font-family: sans-serif;
    color: #fff;
    font-size: 60px;
    margin: 10px 0;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;            
    padding: 10px 20px;             
    background-color: #fff;      
    border-top: 1px solid #ffd675;   
    height: 60px;  
}

footer div {
    flex: 1;                        
}

footer div p {
    margin: 0;                      
    font-size: 16px;                
    color: #222121;                   
}

.e {
    display: flex;
    height: 40px;
}

.d {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;
}